.App {
  background-color: rgb(190, 183, 174);
}
.elements-table {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.space {
  margin-right: 20px;
}

.clicked {
  background-color: aquamarine;
}

.notclicked {
  background-color: white;
}